<h1>New Widget</h1>

<%= form_for(@widget) do |f| %>
  <% if @widget.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@widget.errors.count, "error") %> prohibited this widget from being saved:</h2>

      <ul>
      <% @widget.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

Select Widget
  <%= collection_select(:widget_template, :factory_id, WidgetTemplate.all, :id, :name) %>

  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', widgets_path %>