<p>Page Name: <%= @widget.page.name %></p>
<p>Widget Name: <%= @widget.name %></p>
<p>Text :<%= @widget.html_block_1 %></p>
<p>Type :<%= @widget.type %></p>


</table>

<br />

<%#= link_to 'Execute Widget Set', @widget_set, method: :execute %>


<%= link_to 'New Widget', new_widget_path(:page_id => params[:id])%>

<%#= link_to 'Edit', edit_widget_set_path(params[:id]) %> 

<%= render 'layouts/nav_footer' %>
