
 
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @page.name %>
</p>

<table>
<% if @widgets_list%>
<%       @widgets_list.each do |widget| %>
  <tr>
    <td><%= widget.name %></td>
    <td><%= link_to 'Show', widget %></td>
    <td><%= link_to 'Edit', edit_widget_path(widget) %></td>
    <td><%= link_to 'Destroy', widget, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
<% else %>
 There are no widgets in this page
 <%end%>

</table>

<br />

<%#= link_to 'Execute Widget Set', @widget_set, method: :execute %>


<%= link_to 'New Widget', new_widget_path(:page_id => params[:id])%>

<%#= link_to 'Edit', edit_widget_set_path(params[:id]) %> 

<%= link_to 'Back', pages_path %>