<h2>Bookish! </h2>

<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

<h2>Story Title: <%= @story.title %></h2>
<h3>Author: <%= @story.author_first_name %> <%= @story.author_last_name %>  </h3>


<h2>Manage Pages</h2>


<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
  
<table>

<% @story.pages.each do |page| %>
  <tr>
    <td><%= page.name %></td>
    <td><%= link_to 'Show', story_page_path(@story) %></td>
    <td><%= link_to 'Edit', edit_page_path(page) %></td>
    <td><%= link_to 'Destroy', page.id, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    
  </tr>
<% end %>
</table>

<br />
<%= link_to 'New Page', new_story_page_path %><br />
<%= link_to "Go to Stories list", stories_path %>