

<%= render 'layouts/story_header' %>

<h2>Manage Pages</h2>


<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
  
<table>

<% @story.pages.each do |page| %>
  <tr>
    <td><%= page.name %></td>

    <td><%= link_to 'Show', story_page_path(:story_id => @story.id, :id => page.id) %></td>
    <td><%= link_to 'Edit', edit_story_page_path(:story_id => @story.id, :id => page.id) %></td>
    <td><%= link_to 'Destroy', story_page_path(:story_id => @story.id, :id => page.id) , method: :delete, data: { confirm: 'Are you sure?' } %></td>
    
  </tr>
<% end %>
</table>

<br />
<%= link_to 'New Page', new_story_page_path %><br />
<%= link_to "Go to Stories list", stories_path %>
<%= render 'layouts/nav_footer' %>
