<%= render "navigation" %>

<h1>New Page</h1>
<%= form_for :page, method: :get do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 

 
  <p>
    <%= f.submit %>
  </p>
<% end %>