 <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
 <!-- <a class="brand" href="#">Some Store</a> -->
	<%= link_to 'Path & Branch', root_path, class: "brand" %>
        <div class="nav-collapse">
<ul class="nav">
  <li><%= link_to 'Create Adventure', new_story_path %></li>
	<% if current_user %>
	 <!-- <li> <h2>Welcome: <%= link_to current_user.username, user_path(current_user.id) %></li> -->
	  <li><%= link_to 'Logout', session_path(current_user), :method => :delete, id: "logout" %></h2>
     <li><%= link_to "Profile", user_path(current_user) %></li>
	  </li>
</div>
	  <% else %>
	<li><%= link_to "create account", new_user_path, id: "create_account" %></li>
	<!-- <h2> Administrative Tools</h2><p> -->
<%# link_to 'Manage WidgetTemplates', widget_templates_path %>
	<% end %>
</ul>
</div>